################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/UI/obj/Release/SteerLoggerUser.csproj.ResolveComReference.cache
/UI/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/UI/.vs/ProjectSettings.json
/UI/.vs/Datalogger-Alistair-UI/v16/.suo
/UI/.vs/slnx.sqlite
/UI/.vs/VSWorkspaceState.json
/UI/UpgradeLog.htm
/SteerLoggerInstaller/SteerLoggerInstaller.back.aip
UI/.vs/SteerLoggerUser/v16/.suo
UI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
