################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/UI/obj/Release/SteerLoggerUser.csproj.ResolveComReference.cache
/UI/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/.vs/ProjectSettings.json
/.vs/Datalogger-Alistair/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Datalogger-Alistair-UI/v16/.suo
/UI/UpgradeLog.htm
/Logger-UI-Installer/Logger-UI-Installer.back.aip
