################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UI/obj/Release/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
/UI/obj/Release/SteerLoggerUser.csproj.ResolveComReference.cache
/RPI/.idea/workspace.xml
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Datalogger-Alistair/v16/.suo
